@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.1rem;
}

::-webkit-scrollbar-thumb {
  width: 0.1rem;
  background-color: #828BD4;
  border-radius: 0.5rem;
}

.skeleton {
  background-color: rgb(33, 34, 36);
  animation: pulse 1s linear infinite alternate;
}

@keyframes pulse {
  0% {
    background-color: rgba(33, 34, 36, 0.8);
  }

  100% {
    background-color: rgba(33, 34, 36, 0.4);
  }
}

.emoji .EmojiPickerReact {
  position: absolute !important;
  border: none !important;
  bottom: 140%;
  max-width: 95vw;
}

.EmojiPickerReact {
  --epr-bg-color: #212224;
  --epr-hover-bg-color: #383E3C;
  --epr-category-label-bg-color: #212224;
  --epr-highlight-color: transparent;
  --epr-search-input-bg-color-active: #383E3C;
  --epr-search-input-bg-color: #383E3C;
  --epr-focus-bg-color: #383E3C;
  --epr-category-icon-active-color: #828BD4;
}